/*PALETA DE CORES: https://paletadecores.com/paleta/4aedd7/705647/ed6d4a/ffca64/3fd97f/ */


* {
    box-sizing: border-box; /*terá explicação*/
    list-style: none;
    margin: 0;
  }
  
  body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
  }
  
  div img {
      width: 5rem;
      height: auto;
      margin-left: 1rem;
  }
  
  header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.5rem;
      
  }
  
  header ul {
      display: flex;
     
  }
  
  header ul li {
   margin-left: 30px;
  }
  
  
  
  #myVideo {
    position:static ; /*fixed*/ /*terá explicação*/
    min-width: 100%; 
    min-height: 100%;
  }
  
  .content {
    position:absolute; /*terá explicação*/
    margin-top: -40vh;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100vw;
    padding: 1vh;
  }
  
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }
  
  
  .sessao1 {
    display: flex;
    padding: 10vh;
    background-color: rgba(0, 255, 255, 0.427);
    color: black;
  }
  
  .sessao1 div p {
  text-align: left;
  margin: 0.5rem;
  font-weight: 600;
  }

  .pai{
   width: 100vw;
   height: 100vh;
   background-color: #072d66;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 20px;
   flex-wrap: wrap;
  }

  .pai div{
    background-color: #2f921b;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px chocolate;
    font-size: 2rem; 
  }

  .box2{
    width: 100vw;
    height: 100vh;
    background: rgb(74,198,237);
    background: linear-gradient(90deg, rgba(74,198,237,1) 30%, rgba(63,217,127,1) 100%);
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .form{
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.712);
    border-radius: 25px;
    border-color: #072d66;
    border-style: solid;
    color: #072d66;
    text-align: center;
  }

  .form h2{
    color: #072d66;
  }

  .form a {
    text-decoration: none;
    color: #ed6d4a;
  }

  .form img{
    width: 8rem;
    height: auto;
    margin-top: -100rem;
  }

  .input-width{
    width: 25rem;
    height: 2rem;
    border-radius: 2rem;
    border-color: #072d66;
    border-style: solid;
  }

  .btn_Enviar{
    width: 20rem;
    height: 2.5rem;
    border-radius: 2rem;
    border-style: none;
    background-color: #ed6d4a;
    color: white;
    font-size: 1.5rem;
  }